{
  "include": ["bin/**/*.ts", "src/**/*.ts", "tests/**/*.ts"],
  "compilerOptions": {
    "baseUrl": "src",
    "forceConsistentCasingInFileNames": true,
    "module": "commonjs",
    "moduleResolution": "node",
    "noEmit": true,
    "noImplicitAny": true,
    "noImplicitThis": true,
    "resolveJsonModule": true,
    "skipLibCheck": true,
    "strictNullChecks": true,
    "target": "es6",
    "types": ["node", "jest"]
  },
  "exclude": ["node_modules"],
  "paths": {
    "*": ["src/*", "tests/*"]
  }
}
