{
  "compilerOptions": {
    "skipLibCheck": true,
    "target": "es6",
    "noEmit": true,
    "noImplicitAny": true,
    "noImplicitThis": true,
    "strictNullChecks": true,
    "types": ["node", "jest"]
  },
  "exclude": ["node_modules"],
  "baseUrl": "/",
  "paths": {
    "*": ["src/*", "tests/*"]
  },
  "include": ["src/**/*.ts", "tests/**/*.ts"]
}
